<!DOCTYPE html>
<html lang="zh_Hant">
<head>
  <meta charset="utf-8">
  <title>filitov sample page</title>
  <style type="text/css">

  </style>
</head>
<body>

<form  action="/login" class="form-horizontal" method="post">
    <h2>您好,我們是日系穿搭領航員</h2>
    <h3>請選擇您的性別:</h3>
  <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <input name="sex" value="M" type="radio"  checked="checked"> 男
        </div>
 <div class="col-sm-2 ">
            <input name="sex" value="W" type="radio"> 女
        </div>
        <div class="col-12">
            <br>
            <input type="submit" value="Send Gender" />
        </div>

    </div>
</form>

</body>
<script type="text/javascript">

</script>
</html>