<!DOCTYPE html>
<html lang="zh_Hant">
<head>
  <meta charset="utf-8">
  <title>filitov sample page</title>
  <style type="text/css">

  </style>
</head>
<body>


<form>
    <h1>請勾選您有興趣的穿搭</h1>
    <img src="https://cdn.wimg.jp/coordinate/8gmpa6/20190308122752240/20190308122752240_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="1" name="Product_1"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/f6djmz/20191025192526758/20191025192526758_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="2" name="Product_2"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/yug718/20201002215332013/20201002215332013_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="3" name="Product_3"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/knt61l/20200331150241891/20200331150241891_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="4" name="Product_1"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/7kqyy0/20210214112627380/20210214112627380_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="5" name="Product_2"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/arycu5/20200309143150618/20200309143150618_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="6" name="Product_3"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/9tdvd3/20210210152546895/20210210152546895_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="7" name="Product_1"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/yykcl6/20190404092659027/20190404092659027_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="8" name="Product_2"> Tick<br></h3>
    <img src="https://cdn.wimg.jp/coordinate/ng9xui/20210222234515933/20210222234515933_276.jpg" alt="" /><br>
    <h3><input type="checkbox" value="9" name="Product_3"> Tick<br></h3>
</form>
<input type = "submit" value="Send" style="width:120px;height:40px;font-size:20px;"/>
</body>
<script type="text/javascript">

</script>
