<!DOCTYPE html>
<html lang="zh_Hant">
<head>
  <meta charset="utf-8">
  <title>filitov sample page</title>
  <style type="text/css">

  </style>
  <style type="text/css">
        body {
        background-image:url( ' https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-classic-ukiyo-e-hand-painted-background-image_155495.jpg ' );
        background-repeat:no-repeat;
    <!--        background-attachment: fixed;-->
        background-position: center;
        background-size: cover;
        background-color:#b0c4de;}
  </style>
</head>
<body>
<!-- M 30 612 http://cdn.wimg.jp/coordinate/t4hjh4/20200513154905825/20200513154905825_320.jpg -->
<!-- M 50 207 http://cdn.wimg.jp/coordinate/e4rj3i/20171012232213441/20171012232213441_320.jpg -->
<!-- M 9 29 http://cdn.wimg.jp/coordinate/uyzkvm/20201024062641801/20201024062641801_320.jpg -->
<!-- M 39 63 http://cdn.wimg.jp/coordinate/dno9g2/20200217095217693/20200217095217693_320.jpg -->
<!-- M 13 193 http://cdn.wimg.jp/coordinate/owthmt/20190326101248997/20190326101248997_320.jpg -->
<!-- M 51 5 http://cdn.wimg.jp/coordinate/z9t4ky/20201019105021834/20201019105021834_320.jpg -->
<!-- M 95 650 http://cdn.wimg.jp/coordinate/gbue32/20201103162034134/20201103162034134_320.jpg -->
<!-- M 22 61 http://cdn.wimg.jp/coordinate/sgbw64/20180628111332170/20180628111332170_320.jpg -->
<!-- M 91 384 http://cdn.wimg.jp/coordinate/27p9nw/20181012120712791/20181012120712791_320.jpg -->

<form>
    <h1>請勾選您有興趣的穿搭</h1>
    <img src="http://cdn.wimg.jp/coordinate/t4hjh4/20200513154905825/20200513154905825_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="1" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/e4rj3i/20171012232213441/20171012232213441_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="2" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/uyzkvm/20201024062641801/20201024062641801_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="3" name="Product_3"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/dno9g2/20200217095217693/20200217095217693_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="4" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/owthmt/20190326101248997/20190326101248997_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="5" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/z9t4ky/20201019105021834/20201019105021834_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="6" name="Product_3"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/gbue32/20201103162034134/20201103162034134_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="7" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/sgbw64/20180628111332170/20180628111332170_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="8" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/27p9nw/20181012120712791/20181012120712791_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="9" name="Product_3"> Tick<br></h3>
</form>
<input type = "submit" value="Send" style="width:120px;height:40px;font-size:20px;"/>
</body>
<script type="text/javascript">

</script>
