<!DOCTYPE html>
<html lang="zh_Hant">
<head>
  <meta charset="utf-8">
  <title>filitov sample page</title>
  <style type="text/css">

  </style>
  <style type="text/css">
        body {
        background-image:url( ' https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-classic-ukiyo-e-hand-painted-background-image_155495.jpg ' );
        background-repeat:no-repeat;
    <!--        background-attachment: fixed;-->
        background-position: center;
        background-size: cover;
        background-color:#b0c4de;}
  </style>
</head>
<body>

<!-- W 69 161 http://cdn.wimg.jp/coordinate/ky9j6m/20201019205546719/20201019205546719_320.jpg -->
<!-- W 73 9 http://cdn.wimg.jp/coordinate/aw4uiq/20200926102631921/20200926102631921_320.jpg -->
<!-- W 91 203 http://cdn.wimg.jp/coordinate/axjwxo/20180902203640116/20180902203640116_320.jpg -->
<!-- W 99 517 http://cdn.wimg.jp/coordinate/1xzo7j/20190406091838966/20190406091838966_320.jpg -->
<!-- W 81 571 http://cdn.wimg.jp/coordinate/om5w7a/20170222205133800/20170222205133800_320.jpg -->
<!-- W 77 794 http://cdn.wimg.jp/coordinate/s14noe/20190709171928366/20190709171928366_320.jpg -->
<!-- W 19 426 http://cdn.wimg.jp/coordinate/8ayqxz/20180222173524021/20180222173524021_320.jpg -->
<!-- W 44 3 http://cdn.wimg.jp/coordinate/be9ci0/20190618082245590/20190618082245590_320.jpg -->
<!-- W 96 147 http://cdn.wimg.jp/coordinate/0mavut/20190202200917824/20190202200917824_320.jpg -->
<form>
    <h1>請勾選您有興趣的穿搭</h1>
    <img src="http://cdn.wimg.jp/coordinate/ky9j6m/20201019205546719/20201019205546719_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="1" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/aw4uiq/20200926102631921/20200926102631921_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="2" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/axjwxo/20180902203640116/20180902203640116_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="3" name="Product_3"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/1xzo7j/20190406091838966/20190406091838966_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="4" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/om5w7a/20170222205133800/20170222205133800_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="5" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/s14noe/20190709171928366/20190709171928366_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="6" name="Product_3"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/8ayqxz/20180222173524021/20180222173524021_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="7" name="Product_1"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/be9ci0/20190618082245590/20190618082245590_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="8" name="Product_2"> Tick<br></h3>
    <img src="http://cdn.wimg.jp/coordinate/0mavut/20190202200917824/20190202200917824_320.jpg" alt="" /><br>
    <h3><input type="checkbox" value="9" name="Product_3"> Tick<br></h3>
</form>
<input type = "submit" value="Send" style="width:120px;height:40px;font-size:20px;"/>
</body>
<script type="text/javascript">

</script>
