<!DOCTYPE html>
<html lang="zh_Hant">
<head>
  <meta charset="utf-8">
  <title>filitov sample page</title>
  <style type="text/css">

  </style>
</head>
<body>

<form  action="http://127.0.0.1:12345/login" class="form-horizontal" method="post">
  <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <input name="sex" value="M" type="radio"  checked="checked"> 男
        </div>
 <div class="col-sm-2 ">
            <input name="sex" value="F" type="radio"> 女
        </div>
        <div class="col-12">
            <input type="submit" value="Send Gender" />
        </div>

    </div>
</form>

</body>
<script type="text/javascript">

</script>
</html>